<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="mywebHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="myMex">
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="simple" useDefaultWebProxy="false">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="default" name="WcfServerT9.CrossDomain">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="myMex" behaviorConfiguration="mywebHttp" contract="WcfServerT9.ICrossDomain">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:44754"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="default" name="WcfServerT9.T9Service">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="simple" contract="WcfServerT9.IT9Service">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:44754/T9Service.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>